#title {
    font-family: Righteous, cursive;
    font-size: 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #242424;
}

#raspi-frame {
    text-align: center;
    padding: 3%;
}
